<div id="cont">

  <table>
    <tr>
      <td colspan="2"><%= label_tag 'name', 'Иванов Иван Иванович'%></td>
    </tr>
    <tr>
      <td class="td_avatar">
        <%= image_tag "avatar.jpg", class: 'avatar'%>
      </td>
      <td valign="top">
        <ul class="menu">
          <li><%= link_to 'Обо мне', '#'%></li>
          <li><%= link_to 'Мои работы', '#'%></li>
          <li><%= link_to 'Сделать заказ', '#'%></li>
          <li><%= link_to 'Контакты', '#'%></li>
        </ul>
      </td>
    </tr>
  </table>

</div>